.photos{
    width: 300px;
    height: 210px;
    margin-top: 1%;
    margin-bottom: 1%;
}
#titulo{
    width: 100%;
    height: auto;
    font-weight: bold;
    color: rgb(240, 15, 15);
    text-align: center;
    margin-bottom: 0%;
    background-color: rgb(54, 165, 255);
}
#header{
    width: 100%;
}
#background{
    background-color: rgb(139, 5, 5);
}
#macaco{
    width: 350px;
    height: 210px;
    border-radius: 50%;
    margin-left: 80%;
    margin-top: 2%;
}
#texto{
    text-align: left;
    font-weight: bold;
}
#espaco{
    margin: 5%;
}
#topicos{
    text-align: center;
    font-weight: bold;
}