.photos{
    width: 250px;
    height: 207px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}
#titulo{
    font-size: xx-large;
}
#header{
    width: 100%;
    box-shadow: #0F131C;
}
#background{
    background-color: #0F131C;
    padding: 10px;
    margin-left: 10px;
    width: 75%;
}
#macaco{
    width: 320px;
    height: 210px;
    border-radius: 50%;
    margin-top: 2%;
    border: 5px solid #060606;
    margin-right: 450px;
}
#texto{
    text-align: left;
    font-weight: bold;
    width: 75%;
}
#espaco{
    margin: 5%;
}
#topicos{
    text-align: left;
    font-weight: bold;
}
#id{
    display: flex;
}
#footer{
    background-color: #060606;
    width: 100%;
    height: 136px;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-top: 250px;
}
#textorodapé{
    margin-left: 50px;
}
.secoes{
    margin-left: 100px;
}
